*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: Roboto, "sans-serif";
}

.main {
    display: flex;
    padding-top: 49px;
    gap: 52px;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 63px;

}
h1 {
    margin-bottom: 40px;
}
.first {
    color: black;
    text-decoration: none;
}

.second {
    color: #4BCAFF;
}
.flex-container {
    display: flex;
    background-color: #35444F;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.flex-container li:hover {
    background-color: #222F3A;
}
.flexbox-item {
    padding: 24px 32px 18px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-right: 1px solid white;
}
.flexbox-item:first-child {
    border-left: 1px solid white;
}

.left-menu-border {
    width: 344px;
    font-size: 27px;
    line-height: 27px;
    border: 1px solid black;
    list-style: none;
    padding: 0px;
}

.left-menu-border li {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 15px;
}

.left-menu-border li:hover {
    padding-left: 25px;
    background-color: #DBDBDB;
}
.img-wrapper {
    height: 530px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 37px;
}

.text1 {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 34px;
}

.text2 {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 54px;

}

.footer {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 69px;
    left: 40px;
    top: 20px;
    font-size: 28px;
    line-height: 28px;
    list-style: none;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;

}

.footer li:hover {
    color: #3181A6;
    text-decoration: underline;
}

.copyright {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
    align-items: center;
}