* {
    font-family: 'Arimo', sans-serif;
}

.pricing {
    font-size: 20px;
    font-weight: bold;
}

table {
    border: 10px solid #3A4965;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10px;
}

table, td {
    border-collapse: collapse;
}

 td {
    border: 1px solid #E3E3E3;
    height: 40px;
}

.greenrow {
    background: #89C331;
    color: white;
    border: none;
}

.pinkrow {
    background: #F04A56;
    color: white;
    border: none;
}

.bluerow {
    background: #20807C;
    color: white;
    border: none;
}

.lightrow {
    background:#F2F2F2;
}

.greyrow {
    background: #E3E3E3;
}

.numbers {
    font-size: 30px;
}

.price {
    font-size: 10px;
    vertical-align: 10px;
}

.up {
    vertical-align: 20px;
    font-size: 15px;
}

button {
    border-radius: 3px;
    border: none;
    width: 140px;
    height: 30px;
    color: white;
}

.blackbutton {
    background: #484848;
}

.greenbutton {
    background: #89C331;
}

.pinkbutton {
    background: #F04A56;
}

.bluebutton {
    background: #20807C;
}