* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: url(/images/background.png) center/cover;
}

header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1% 5% ;
}


nav {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.infopic {
    width: 20px;
}

.line {
    height: 20px;
    width: 2px;
}

.container {
    background-color: white;
    width: 40%;
    margin: 10% auto;
    padding: 20px 40px;
    position: relative;
}

.marker {
    position: absolute;
    left: 0;
}

.social-media {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.9fr, 1fr;
    gap: 10px 5px;
    font-weight: bolder;
    margin-bottom: 40px; 
}

.social-media p:first-child {
    font-size: larger;
}

.social-media p:nth-child(2n) {
   text-align: end;
   font-size: smaller;
   color: #3CB878;
}

.facebook,
.google {
    background: #305DB8;
    padding: 10px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.facebook:hover {
    background: #022263;
}

.google:hover {
    background: #AB1F09;
}

.google {
    background: #DF4A32;
}

.facebook a,
.google a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.hline {
    display: grid;
    grid-template-columns: repeat(3, 45% 10% 45% );
    text-align: center;
}

.hline div:nth-child(2) {
    position: relative;
    bottom: 10px;
}

input {
    outline-color: lightgrey;
}

form input[type="checkbox"] {
    width: 1.5em;
    height: 2em;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.checkbox+label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid lightgray;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% ;
    position: relative;

}

.checkbox+label {
    user-select: none;
    display: inline-flex;
    align-items: center;
}

.checkbox:checked+label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='green' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


input:not([type="checkbox"]) {
    margin: 5px 0;
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

form input:last-child {
    background: #3CB878CC;
    color: white;
    border: none;
}

input:focus {
    box-shadow: 2px 3px 5px lightgray, -2px 3px 5px lightgray;
    outline: none;
    border: none;
}

.conditions {
    margin-top: 10px;
    margin-bottom: 20px;
}

.conditions label a {
    color: #3CB878;
}

.conditions label a:hover {
    color: #01813F;
}

form input[type="submit"] {
    font-size: larger;
}

form input:last-child:hover {
    background: #01813F;
}

a {
    margin-left: 10px;
    display: inline-block;
}