* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(images/background.png);
    color: rgba(255, 255, 255, 0.633);
}

.container {
    width: 80%;
    margin: auto;
    height: 150vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 60px;
}

.cell {
    height: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 45px;
    gap: 8px;
}

.logotext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48px; 
}

.logotext img:last-child, img:nth-child(3) {
    display: none;
}

.logo:hover img:first-child, .logo:hover img:nth-child(2) {
    display: none;
}

.logo:hover img:last-child, .logo:hover img:nth-child(3) {
    display: block;
}

.imgwrapper img:last-child {
    display: none;
}

.logo:hover .imgwrapper>img:first-child {
    display: none;
}

.logo:hover .imgwrapper>img:last-child {
    display: block;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    height: 100%;
}

.info p:hover {
    color: orangered;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    margin-bottom: 80px;
    height: 60%;
}

.cell>p {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover {
    display: flex;
    justify-content: space-between;
    background-color: orangered;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    visibility: hidden;
}

.cell div:hover .hover {
    visibility: visible;
}

.hover span::after {
    content:">";
    margin-left: 20px;
}

.hover div p:first-child {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
}

.hover div p:last-child {
    font-size: 20px;
}

.hover div:last-child {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: end;
    font-size: 15px;
}

.cell>div {
    height: 80%;
    overflow: hidden;
}

.img1 {
    background: url(images/image1.png) center/cover;
}

.img2 {
    background: url(images/image2.png) center/cover;
}

.img3 {
    background: url(images/image3.png) center/cover;
}

.img4 {
    background: url(images/image4.png) center/cover;
}

.img5 {
    background: url(images/image5.png) center/cover;
}

.img6 {
    background: url(images/image6.png) center/cover;
}

.cell > p:hover {
    color: orangered
}

.cell > div {
    position: relative;
}

footer {
    display: flex;
    width: 100%;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
}
